<!--
    This template file is returned by the framework when a GET operation is called
    on localhost:8080/authors because the return value of the AuthorController.getAuthors() method is
    the String 'authors', which gets mapped to this file (note that it is not necessary to
    state the file extension).
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>String Boot 3 Web App</title>
</head>
<body>
<h1>Author List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>

    <!--
        Note that 'th:each' is a Thymeleaf attribute used for iteration much like
        a for-each loop. Here we are iterating over the 'authors' iterable (which is
        of type Iterable<Author> because that's the type of the value we assigned to
        the Model attribute whose key is 'books' in the AuthorController.getAuthors() method.

        Also note that 'author' is therefore of type Author, which is why we can access
        attributes like .id and .firstName directly from it.
    -->
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">ID placeholder</td>
        <td th:text="${author.firstName}">First name placeholder</td>
        <td th:text="${author.lastName}">Last name placeholder</td>
    </tr>
</table>

</body>
</html>
